.btn {
    font-size: 1.2em;
    margin-left: 10px;
    padding: 3px 5px 3px 5px;
    border: 0;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
}

#form{
    text-align: center;
}

#go{
    margin-left: 10px;
    font-size: 1.1em;
    padding: 2px 5px 2px 5px;
}

fieldset{
    width: 550px;
    text-align: center;
    margin: auto;
    height: auto;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}

label{
    font-size: 1.2em;
    padding-right: 5px;

}

input{
    font-size: 1.2em;
    width: 350px;
}

#btn-container{
    margin-top: 25px;
}