.btn {
    font-size: 0.9em;
    margin-left: 10px;
    // padding: 5px 10px 5px 10px;
    font-family: 'Times New Roman', Times, serif;
}

#form{
    text-align: center;
}

#go{
    margin-left: 10px;
}

fieldset{
    width: 350px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}

label{
    font-size: 1.2em;
    padding-right: 5px;

    
    
}

#btn-container{
    margin-top: 25px;
}