.btn {
    font-size: 0.9em;
    margin-left: 10px;
    // padding: 5px 10px 5px 10px;
    font-family: 'Times New Roman', Times, serif;
}

.btn-rest{
    margin-top: 10px;
    margin-left: 10px;
    padding: 2px 7px;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

label{
    font-size: 1.4em;
    padding-right: 5px;
    
    
}