h1{
    color: rgb(233, 233, 233);
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 3rem;
    
}

header{
  padding-top: 30px;
  height: 100px;
  background-color: rgb(26, 40, 75);
  text-align: center;
}



#header-container {
    text-align: center;
}

#header-container > h1{
    font-size: 2em;
    color: black;
    
}