#savedSearch{
    width: 350px;
    min-height: 200px;
    height: 25vh;
    overflow: auto;
    background-color: rgba(247, 247, 247, 0.981);
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-top: 10px;
}

h5{
    font-size: 1.6em;
    border-bottom: 1px solid gray;
    
}


li{
    width: fit-content;
    margin: auto;
    text-align: center;
    display: block;
    height: 1vh;
}

ul li::marker {
    color:black;
    font-size: 1.5em;
  }