#json-container{
    border: 1px solid #000000;
    margin: auto;
    height: 55vh;
    width: 75vw;
    font-size: 1.5em;
    text-align: left;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}


